.infobox {
  position: absolute;
  z-index: 1;
  top: 20px;
  padding: 15px;
  color: #fff;
  background-color: rgba(6, 64, 102, 0.8);
  font-family: '微软雅黑';
  font-size: 14px;
  border-radius: 4px;
  border: 2px solid #ffffff;
}

.infoline {
  width: 300px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colorline {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-around;
}

.colorbox {
  z-index: 2;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ffffff;
}

.buildinfo {
  width: 400px;
  margin-top: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  font-size: 12px;
  color: white !important;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: rgba(0, 0, 0, 0) !important;
}

.color1 {
  background-color: #002743;
}

.color2 {
  background-color: #415b7e;
}

.ant-pagination.mini .ant-pagination-item {
  min-width: 20px;
  height: 20px;
  line-height: 20px;
}

.ant-pagination-item a {
  font-size: 3px;
}

.ant-table-tbody > tr:hover > td{
  background:transparent ! important;
}
